*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
BlarfeysWorld/BlarfeysWorld/bin/
BlarfeysWorld/bin/
BlarfeysWorld/BlarfeysWorld/obj/
BlarfeysWorld/obj/
BlarfeysWorld/Content/obj/
!BlarfeysWorld/x64
!BlarfeysWorld/x86
!BlarfeysWorld/Libraries
